@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в своето онлайн банкиране</h1>
</div>

<ul>
    <li><a href="../Register">Регистрация</a></li>
    <li><a href="../Login">Логин</a></li>
</ul>
